schemas/FormularyCoveragePlan_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" vc:minVersion="1.1" version="6.1">
	<xs:simpleType name="string">
		<xs:restriction base="xs:string">
			<xs:pattern value="[ \r\n\t\S]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Decimal-->
	<xs:simpleType name="decimal">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Boolean-->
	<xs:simpleType name="boolean">
		<xs:restriction base="xs:boolean">
			<xs:pattern value="true|false"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Date-->
	<xs:simpleType name="date">
		<xs:restriction base="xs:date">
			<xs:pattern value="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for DateTime-->
	<xs:simpleType name="dateTime">
		<xs:restriction base="xs:string">
			<xs:pattern
				value="([12]\d{3})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.\d{1,6})?((Z|(\+|-)((0[0-9]|1[0-3]):(00|15|30|45)|14:00))?))?"
			/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currency">
		<xs:restriction base="string">
			<xs:enumeration value="AED"/>
			<xs:enumeration value="AFN"/>
			<xs:enumeration value="ALL"/>
			<xs:enumeration value="AMD"/>
			<xs:enumeration value="ANG"/>
			<xs:enumeration value="AOA"/>
			<xs:enumeration value="ARS"/>
			<xs:enumeration value="AUD"/>
			<xs:enumeration value="AWG"/>
			<xs:enumeration value="AZN"/>
			<xs:enumeration value="BAM"/>
			<xs:enumeration value="BBD"/>
			<xs:enumeration value="BDT"/>
			<xs:enumeration value="BGN"/>
			<xs:enumeration value="BHD"/>
			<xs:enumeration value="BIF"/>
			<xs:enumeration value="BMD"/>
			<xs:enumeration value="BND"/>
			<xs:enumeration value="BOB"/>
			<xs:enumeration value="BOV"/>
			<xs:enumeration value="BRL"/>
			<xs:enumeration value="BSD"/>
			<xs:enumeration value="BTN"/>
			<xs:enumeration value="BWP"/>
			<xs:enumeration value="BYN"/>
			<xs:enumeration value="BZD"/>
			<xs:enumeration value="CAD"/>
			<xs:enumeration value="CDF"/>
			<xs:enumeration value="CHE"/>
			<xs:enumeration value="CHF"/>
			<xs:enumeration value="CHW"/>
			<xs:enumeration value="CLF"/>
			<xs:enumeration value="CLP"/>
			<xs:enumeration value="CNY"/>
			<xs:enumeration value="COP"/>
			<xs:enumeration value="COU"/>
			<xs:enumeration value="CRC"/>
			<xs:enumeration value="CUC"/>
			<xs:enumeration value="CUP"/>
			<xs:enumeration value="CVE"/>
			<xs:enumeration value="CZK"/>
			<xs:enumeration value="DJF"/>
			<xs:enumeration value="DKK"/>
			<xs:enumeration value="DOP"/>
			<xs:enumeration value="DZD"/>
			<xs:enumeration value="EGP"/>
			<xs:enumeration value="ERN"/>
			<xs:enumeration value="ETB"/>
			<xs:enumeration value="EUR"/>
			<xs:enumeration value="FJD"/>
			<xs:enumeration value="FKP"/>
			<xs:enumeration value="GBP"/>
			<xs:enumeration value="GEL"/>
			<xs:enumeration value="GGP"/>
			<xs:enumeration value="GHS"/>
			<xs:enumeration value="GIP"/>
			<xs:enumeration value="GMD"/>
			<xs:enumeration value="GNF"/>
			<xs:enumeration value="GTQ"/>
			<xs:enumeration value="GYD"/>
			<xs:enumeration value="HKD"/>
			<xs:enumeration value="HNL"/>
			<xs:enumeration value="HRK"/>
			<xs:enumeration value="HTG"/>
			<xs:enumeration value="HUF"/>
			<xs:enumeration value="IDR"/>
			<xs:enumeration value="ILS"/>
			<xs:enumeration value="IMP"/>
			<xs:enumeration value="INR"/>
			<xs:enumeration value="IQD"/>
			<xs:enumeration value="IRR"/>
			<xs:enumeration value="ISK"/>
			<xs:enumeration value="JEP"/>
			<xs:enumeration value="JMD"/>
			<xs:enumeration value="JOD"/>
			<xs:enumeration value="JPY"/>
			<xs:enumeration value="KES"/>
			<xs:enumeration value="KGS"/>
			<xs:enumeration value="KHR"/>
			<xs:enumeration value="KMF"/>
			<xs:enumeration value="KPW"/>
			<xs:enumeration value="KRW"/>
			<xs:enumeration value="KWD"/>
			<xs:enumeration value="KYD"/>
			<xs:enumeration value="KZT"/>
			<xs:enumeration value="LAK"/>
			<xs:enumeration value="LBP"/>
			<xs:enumeration value="LKR"/>
			<xs:enumeration value="LRD"/>
			<xs:enumeration value="LSL"/>
			<xs:enumeration value="LYD"/>
			<xs:enumeration value="MAD"/>
			<xs:enumeration value="MDL"/>
			<xs:enumeration value="MGA"/>
			<xs:enumeration value="MKD"/>
			<xs:enumeration value="MMK"/>
			<xs:enumeration value="MNT"/>
			<xs:enumeration value="MOP"/>
			<xs:enumeration value="MRU"/>
			<xs:enumeration value="MUR"/>
			<xs:enumeration value="MVR"/>
			<xs:enumeration value="MWK"/>
			<xs:enumeration value="MXN"/>
			<xs:enumeration value="MXV"/>
			<xs:enumeration value="MYR"/>
			<xs:enumeration value="MZN"/>
			<xs:enumeration value="NAD"/>
			<xs:enumeration value="NGN"/>
			<xs:enumeration value="NIO"/>
			<xs:enumeration value="NOK"/>
			<xs:enumeration value="NPR"/>
			<xs:enumeration value="NZD"/>
			<xs:enumeration value="OMR"/>
			<xs:enumeration value="PAB"/>
			<xs:enumeration value="PEN"/>
			<xs:enumeration value="PGK"/>
			<xs:enumeration value="PHP"/>
			<xs:enumeration value="PKR"/>
			<xs:enumeration value="PLN"/>
			<xs:enumeration value="PYG"/>
			<xs:enumeration value="QAR"/>
			<xs:enumeration value="RON"/>
			<xs:enumeration value="RSD"/>
			<xs:enumeration value="RUB"/>
			<xs:enumeration value="RWF"/>
			<xs:enumeration value="SAR"/>
			<xs:enumeration value="SBD"/>
			<xs:enumeration value="SCR"/>
			<xs:enumeration value="SDG"/>
			<xs:enumeration value="SEK"/>
			<xs:enumeration value="SGD"/>
			<xs:enumeration value="SHP"/>
			<xs:enumeration value="SLL"/>
			<xs:enumeration value="SOS"/>
			<xs:enumeration value="SRD"/>
			<xs:enumeration value="SSP"/>
			<xs:enumeration value="STN"/>
			<xs:enumeration value="SVC"/>
			<xs:enumeration value="SYP"/>
			<xs:enumeration value="SZL"/>
			<xs:enumeration value="THB"/>
			<xs:enumeration value="TJS"/>
			<xs:enumeration value="TMT"/>
			<xs:enumeration value="TND"/>
			<xs:enumeration value="TOP"/>
			<xs:enumeration value="TRY"/>
			<xs:enumeration value="TTD"/>
			<xs:enumeration value="TVD"/>
			<xs:enumeration value="TWD"/>
			<xs:enumeration value="TZS"/>
			<xs:enumeration value="UAH"/>
			<xs:enumeration value="UGX"/>
			<xs:enumeration value="USD"/>
			<xs:enumeration value="USN"/>
			<xs:enumeration value="UYI"/>
			<xs:enumeration value="UYU"/>
			<xs:enumeration value="UZS"/>
			<xs:enumeration value="VEF"/>
			<xs:enumeration value="VND"/>
			<xs:enumeration value="VUV"/>
			<xs:enumeration value="WST"/>
			<xs:enumeration value="XAF"/>
			<xs:enumeration value="XAG"/>
			<xs:enumeration value="XAU"/>
			<xs:enumeration value="XBA"/>
			<xs:enumeration value="XBB"/>
			<xs:enumeration value="XBC"/>
			<xs:enumeration value="XBD"/>
			<xs:enumeration value="XCD"/>
			<xs:enumeration value="XDR"/>
			<xs:enumeration value="XOF"/>
			<xs:enumeration value="XPD"/>
			<xs:enumeration value="XPF"/>
			<xs:enumeration value="XPT"/>
			<xs:enumeration value="XSU"/>
			<xs:enumeration value="XTS"/>
			<xs:enumeration value="XUA"/>
			<xs:enumeration value="XXX"/>
			<xs:enumeration value="YER"/>
			<xs:enumeration value="ZAR"/>
			<xs:enumeration value="ZMW"/>
			<xs:enumeration value="ZWL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="quantity">
		<xs:sequence>
			<xs:element name="value" minOccurs="0" maxOccurs="1" type="decimal"/>
			<xs:element name="comparator" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						A list of Quantity Comparator's can be found here:  http://hl7.org/fhir/R4/valueset-quantity-comparator.html
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="&lt;"/>
						<xs:enumeration value="&lt;="/>
						<xs:enumeration value=">="/>
						<xs:enumeration value=">"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="unit" minOccurs="0" maxOccurs="1" type="string">
				<xs:annotation>
					<xs:documentation>
						Unit representation (e.g. mcg)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="system" minOccurs="0" maxOccurs="1" type="string">
				<xs:annotation>
					<xs:documentation>
						The URI of the system that defines the coded unit form
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" minOccurs="0" maxOccurs="1" type="string">
				<xs:annotation>
					<xs:documentation>
						Coded form of the unit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="coverage_plans">
		<xs:annotation>
			<xs:documentation>
				The CoveragePlan resource represents a health plan health plan and contains links to administrative information, a list of formulary drugs covered under that plan, and a definition of drug tiers and their associated cost-sharing models
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="schema_version">
					<xs:annotation>
						<xs:documentation>
							This element defines what version of the roster schema you will be validating against (e.g. 1.0)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:pattern value="([1-9]{1,2})\.([0-9]{1,2})"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="sender_id" type="string">
					<xs:annotation>
						<xs:documentation>
							This element is used to the unique identifier assigned to your organization
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="date_time_reported">
					<xs:annotation>
						<xs:documentation>
							This element is used to the identify the date time this information was reported (e.g. 2001-10-26T21:32:52+02:00)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:pattern
								value="([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"
							/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="coverage_plan" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<!--Business Identifier for Product\Plan-->
							<xs:element name="plan_id" type="string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="plan_id_type" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:annotation>
										<xs:documentation>
											Type of Plan ID. For all Marketplace plans this should be: HIOS-PLAN-ID. 
											For all other plans this should be: OTHER-PLAN-ID.
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="string">
										<xs:enumeration value="HIOS-PLAN-ID"/>
										<xs:enumeration value="OTHER-PLAN-ID"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="title" type="string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="marketing_url" type="string" minOccurs="0"
								maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The URL that goes directly to the plan brochure for the specific standard plan or plan variation
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="summary_url" type="string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The URL that goes directly to the formulary brochure for the specific standard plan or plan variation.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="formulary_url" type="string" minOccurs="0"
								maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The URL that goes directly to the formulary brochure for the specific standard plan or plan variation.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="email_plan_contact" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base="string">
										<xs:maxLength value="100"/>
										<xs:pattern value="[^@]+@[^\.]+\..+|"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="network" type="string" minOccurs="1"
								maxOccurs="unbounded"/>
							<xs:element name="status" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The CoveragePlan Status (current, retired, entered-in-error).  More details can be found here:  http://hl7.org/fhir/R4/valueset-list-status.html
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="string">
										<xs:enumeration value="current"/>
										<xs:enumeration value="retired"/>
										<xs:enumeration value="entered-in-error"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mode" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The CoveragePlan Mode (working, snapshot, changes).  More details can be found here:  http://hl7.org/fhir/R4/valueset-list-mode.html
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="string">
										<xs:enumeration value="working"/>
										<xs:enumeration value="snapshot"/>
										<xs:enumeration value="changes"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="date" type="dateTime" minOccurs="0" maxOccurs="1"/>
							<xs:element name="drug_tiers" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										A description of the drug tiers used by the formulary and how those tiers implement copay and coinsurance amounts. Drug tiers do not have any inherent meaning that is consistent across all formularies. Rather, each tier is defined using this element.
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="drug_tier" minOccurs="1"
											maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
													The drug tier of a particular medication in a health plan. Base set are examples. Each plan may have its own controlled vocabulary.
												</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
												<!--A code that describes the coverage status of a drug in a health plan (e.g., preferred generic, specialty, etc.)-->
												<xs:element name="drug_tier_id" minOccurs="1"
												maxOccurs="1">
												<xs:complexType>
												<xs:annotation>
												<xs:documentation>
																	A code that describes the coverage status of a drug in a health plan (generic, preferred-generic, non-preferred-generic, specialty, brand, preferred-brand, non-preferred-brand, zero-cost-share-preventive, medical-service).  More inoformation can be found here:  http://hl7.org/fhir/us/Davinci-drug-formulary/ValueSet-usdf-DrugTierVS.html
																	at least supply one or the other- "code" or "text"
																	</xs:documentation>
												</xs:annotation>
												<xs:choice>
												<xs:element name="code">
												<xs:simpleType>
												<xs:restriction base="string">
												<xs:enumeration value="generic"/>
												<xs:enumeration value="preferred-generic"/>
												<xs:enumeration value="non-preferred-generic"/>
												<xs:enumeration value="specialty"/>
												<xs:enumeration value="brand"/>
												<xs:enumeration value="preferred-brand"/>
												<xs:enumeration value="non-preferred-brand"/>
												<xs:enumeration value="zero-cost-share-preventive"/>
												<xs:enumeration value="medical-service"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="text" type="string"/>
												</xs:choice>
												</xs:complexType>
												</xs:element>
												<xs:element name="mail_order" type="boolean"
												minOccurs="1" maxOccurs="1"/>
												<xs:element name="cost_sharings" minOccurs="0"
												maxOccurs="1">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="cost_sharing" minOccurs="1"
												maxOccurs="unbounded">
												<xs:complexType>
												<xs:sequence>
												<!--pharmacy type-->
												<xs:element name="pharmacy_type" minOccurs="1"
												maxOccurs="1">
												<xs:complexType>
												<xs:annotation>
												<xs:documentation>
																	Types of Pharmacies. Each payer will have its own controlled vocabulary.  More inoformation can be found here:  http://hl7.org/fhir/us/Davinci-drug-formulary/ValueSet-usdf-PharmacyTypeVS.html
															</xs:documentation>
												</xs:annotation>
												<xs:choice>
												<xs:element name="code">
												<xs:simpleType>
												<xs:restriction base="string">
												<xs:enumeration value="1-month-in-retail"/>
												<xs:enumeration value="1-month-out-retail"/>
												<xs:enumeration value="1-month-in-mail"/>
												<xs:enumeration value="1-month-out-mail"/>
												<xs:enumeration value="3-month-in-retail"/>
												<xs:enumeration value="3-month-out-retail"/>
												<xs:enumeration value="3-month-in-mail"/>
												<xs:enumeration value="3-month-out-mail"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<xs:element name="text" type="string"/>
												</xs:choice>
												</xs:complexType>
												</xs:element>
												<!--copay amount-->
												<xs:element name="copay_amount" minOccurs="1"
												maxOccurs="1">
												<xs:complexType>
												<xs:sequence>
												<xs:element name="value" type="decimal"
												minOccurs="1" maxOccurs="1"/>
												<xs:element name="currency" minOccurs="0"
												maxOccurs="1" type="currency">
												<xs:annotation>
												<xs:documentation>
																									Currency codes which can be found here:  http://hl7.org/fhir/R4/valueset-currencies.html
																								</xs:documentation>
												</xs:annotation>
												</xs:element>
												</xs:sequence>

												</xs:complexType>
												</xs:element>
												<!--Qualifier of copay amount-->
												<xs:element name="copay_option" minOccurs="1"
												maxOccurs="1">
												<xs:annotation>
												<xs:documentation>
																Copay options which can be found here:  http://hl7.org/fhir/us/Davinci-drug-formulary/ValueSet-usdf-CopayOptionVS.html
															</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="string">
												<xs:enumeration value="after-deductible"/>
												<xs:enumeration value="before-deductible"/>
												<xs:enumeration value="no-charge"/>
												<xs:enumeration value="no-charge-after-deductible"/>
												<xs:enumeration value="charge"/>
												<xs:enumeration value="not-applicable"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												<!--coinsurance rate-->
												<xs:element name="coinsurance_rate" type="decimal"
												minOccurs="1" maxOccurs="1"/>
												<!--Qualifier for coinsurance rate-->
												<xs:element name="coinsurance_option"
												minOccurs="1" maxOccurs="1">
												<xs:annotation>
												<xs:documentation>
																CoInsurance options which can be found here:  http://hl7.org/fhir/us/Davinci-drug-formulary/ValueSet-usdf-CoinsuranceOptionVS.html
															</xs:documentation>
												</xs:annotation>
												<xs:simpleType>
												<xs:restriction base="string">
												<xs:enumeration value="after-deductible"/>
												<xs:enumeration value="no-charge"/>
												<xs:enumeration value="no-charge-after-deductible"/>
												<xs:enumeration value="charge"/>
												<xs:enumeration value="not-applicable"/>
												</xs:restriction>
												</xs:simpleType>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
												</xs:complexType>
												</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
