schemas/InsurancePlan_V4.2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="4.1">
	<!--Data Type Declaration-->
	<!--Regular Expression for string-->
	<xs:simpleType name="string">
		<xs:restriction base="xs:string">
			<xs:pattern value="[ \r\n\t\S]+"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for NPI-->
	<xs:simpleType name="NPI">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
		<!--Regular Expression for Network_ID-->
	<xs:simpleType name="network_id">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\-\.]{1,64}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for resource_id-->
	<xs:simpleType name="resource_id">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\-\.]{1,64}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Positive Integer-->
	<xs:simpleType name="positiveInt">
		<xs:restriction base="xs:positiveInteger">
			<xs:pattern value="\+?[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for unsignedInt Integer-->
	<xs:simpleType name="unsignedInt">
		<xs:restriction base="xs:unsignedInt">
			<xs:pattern value="0|([1-9][0-9]*)"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Integer-->
	<xs:simpleType name="integer">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0]|[-+]?[1-9][0-9]*"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Time-->
	<xs:simpleType name="time">
		<xs:restriction base="xs:time">
			<xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.\d{1,9})?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for DateTime-->
	<xs:simpleType name="dateTime">
		<xs:restriction base="xs:string">
			<xs:pattern value="([12]\d{3})-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9](\.\d{1,6})?((Z|(\+|-)((0[0-9]|1[0-3]):(00|15|30|45)|14:00))?))?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Date-->
	<xs:simpleType name="date">
		<xs:restriction base="xs:date">
			<xs:pattern value="([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Decimal-->
	<xs:simpleType name="decimal">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="-?(0|[1-9][0-9]*)(\.[0-9]+)?([eE][+-]?[0-9]+)?"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Regular Expression for Boolean-->
	<xs:simpleType name="boolean">
		<xs:restriction base="xs:boolean">
			<xs:pattern value="true|false"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Data Types-->
	<xs:complexType name="identifier">
		<xs:sequence>
			<xs:element name="value" type="string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="type" type="string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="human_name">
		<xs:sequence>
			<xs:element name="use" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
					use this element to describe the name.  More information can be found here:  http://hl7.org/fhir/R4/valueset-name-use.html
				</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="usual"/>
						<xs:enumeration value="official"/>
						<xs:enumeration value="temp"/>
						<xs:enumeration value="nickname"/>
						<xs:enumeration value="anonymous"/>
						<xs:enumeration value="old"/>
						<xs:enumeration value="maiden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element minOccurs="0" maxOccurs="1" name="text" type="string"/>
			<xs:element name="family" type="string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						family name (often called &apos;Surname&apos;) 
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="given" type="string" maxOccurs="unbounded" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						Given names (not always &apos;first&apos;). Includes middle names
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="prefix" type="string"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="suffix" type="string"/>
			<xs:element maxOccurs="1" minOccurs="0" name="period" type="period">
				<xs:annotation>
					<xs:documentation>
					Time period when name was/is in use.  If the name is still in use, do not supply an End date
				</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="location_role_type">
		<xs:restriction base="string">
			<xs:enumeration value="DX" />
			<xs:enumeration value="CVDX" />
			<xs:enumeration value="CATH" />
			<xs:enumeration value="ECHO" />
			<xs:enumeration value="GIDX" />
			<xs:enumeration value="ENDOS" />
			<xs:enumeration value="RADDX" />
			<xs:enumeration value="RADO" />
			<xs:enumeration value="RNEU" />
			<xs:enumeration value="HOSP" />
			<xs:enumeration value="CHR" />
			<xs:enumeration value="GACH" />
			<xs:enumeration value="MHSP" />
			<xs:enumeration value="PSYCHF" />
			<xs:enumeration value="RH" />
			<xs:enumeration value="RHAT" />
			<xs:enumeration value="RHII" />
			<xs:enumeration value="RHMAD" />
			<xs:enumeration value="RHPI" />
			<xs:enumeration value="RHPIH" />
			<xs:enumeration value="RHPIMS" />
			<xs:enumeration value="RHPIVS" />
			<xs:enumeration value="RHYAD" />
			<xs:enumeration value="HU" />
			<xs:enumeration value="BMTU" />
			<xs:enumeration value="CCU" />
			<xs:enumeration value="CHEST" />
			<xs:enumeration value="EPIL" />
			<xs:enumeration value="ER" />
			<xs:enumeration value="ETU" />
			<xs:enumeration value="HD" />
			<xs:enumeration value="HLAB" />
			<xs:enumeration value="INLAB" />
			<xs:enumeration value="OUTLAB" />
			<xs:enumeration value="HRAD" />
			<xs:enumeration value="HUSCS" />
			<xs:enumeration value="ICU" />
			<xs:enumeration value="PEDICU" />
			<xs:enumeration value="PEDNICU" />
			<xs:enumeration value="INPHARM" />
			<xs:enumeration value="MBL" />
			<xs:enumeration value="NCCS" />
			<xs:enumeration value="NS" />
			<xs:enumeration value="OUTPHARM" />
			<xs:enumeration value="PEDU" />
			<xs:enumeration value="PHU" />
			<xs:enumeration value="RHU" />
			<xs:enumeration value="SLEEP" />
			<xs:enumeration value="NCCF" />
			<xs:enumeration value="SNF" />
			<xs:enumeration value="OF" />
			<xs:enumeration value="ALL" />
			<xs:enumeration value="AMPUT" />
			<xs:enumeration value="BMTC" />
			<xs:enumeration value="BREAST" />
			<xs:enumeration value="CANC" />
			<xs:enumeration value="CAPC" />
			<xs:enumeration value="CARD" />
			<xs:enumeration value="PEDCARD" />
			<xs:enumeration value="COAG" />
			<xs:enumeration value="CRS" />
			<xs:enumeration value="DERM" />
			<xs:enumeration value="ENDO" />
			<xs:enumeration value="PEDE" />
			<xs:enumeration value="ENT" />
			<xs:enumeration value="FMC" />
			<xs:enumeration value="GI" />
			<xs:enumeration value="PEDGI" />
			<xs:enumeration value="GIM" />
			<xs:enumeration value="GYN" />
			<xs:enumeration value="HEM" />
			<xs:enumeration value="PEDHEM" />
			<xs:enumeration value="HTN" />
			<xs:enumeration value="IEC" />
			<xs:enumeration value="INFD" />
			<xs:enumeration value="PEDID" />
			<xs:enumeration value="INV" />
			<xs:enumeration value="LYMPH" />
			<xs:enumeration value="MGEN" />
			<xs:enumeration value="NEPH" />
			<xs:enumeration value="PEDNEPH" />
			<xs:enumeration value="NEUR" />
			<xs:enumeration value="OB" />
			<xs:enumeration value="OMS" />
			<xs:enumeration value="ONCL" />
			<xs:enumeration value="PEDHO" />
			<xs:enumeration value="OPH" />
			<xs:enumeration value="OPTC" />
			<xs:enumeration value="ORTHO" />
			<xs:enumeration value="HAND" />
			<xs:enumeration value="PAINCL" />
			<xs:enumeration value="PC" />
			<xs:enumeration value="PEDC" />
			<xs:enumeration value="PEDRHEUM" />
			<xs:enumeration value="POD" />
			<xs:enumeration value="PREV" />
			<xs:enumeration value="PROCTO" />
			<xs:enumeration value="PROFF" />
			<xs:enumeration value="PROS" />
			<xs:enumeration value="PSI" />
			<xs:enumeration value="PSY" />
			<xs:enumeration value="RHEUM" />
			<xs:enumeration value="SPMED" />
			<xs:enumeration value="SU" />
			<xs:enumeration value="PLS" />
			<xs:enumeration value="URO" />
			<xs:enumeration value="TR" />
			<xs:enumeration value="TRAVEL" />
			<xs:enumeration value="WND" />
			<xs:enumeration value="RTF" />
			<xs:enumeration value="PRC" />
			<xs:enumeration value="SURF" />
			<xs:enumeration value="DADDR" />
			<xs:enumeration value="MOBL" />
			<xs:enumeration value="AMB" />
			<xs:enumeration value="PHARM" />
			<xs:enumeration value="ACC" />
			<xs:enumeration value="COMM" />
			<xs:enumeration value="CSC" />
			<xs:enumeration value="PTRES" />
			<xs:enumeration value="SCHOOL" />
			<xs:enumeration value="UPC" />
			<xs:enumeration value="WORK" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="type_of_organization">
		<xs:restriction base="string">
			<xs:enumeration value="fac"/>
			<xs:enumeration value="prvgrp"/>
			<xs:enumeration value="Payer"/>
			<xs:enumeration value="atyprv"/>
			<xs:enumeration value="bus"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="purpose">
		<xs:restriction base="string">
			<xs:enumeration value="BILL"/>
			<xs:enumeration value="ADMIN"/>
			<xs:enumeration value="HR"/>
			<xs:enumeration value="PAYOR"/>
			<xs:enumeration value="PATINF"/>
			<xs:enumeration value="PRESS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="position">
		<xs:sequence>
			<xs:element name="longitude" type="decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="latitude" type="decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="altitude" type="decimal" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="address">
		<xs:sequence>
			<xs:element name="use" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Purpose of this address.  A full list can be found here:  https://www.hl7.org/fhir/valueset-address-use.html
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="home"/>
						<xs:enumeration value="work"/>
						<xs:enumeration value="temp"/>
						<xs:enumeration value="old"/>
						<xs:enumeration value="billing"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The address type.  A full list can be found here:  https://www.hl7.org/fhir/valueset-address-type.html
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="postal"/>
						<xs:enumeration value="physical"/>
						<xs:enumeration value="both"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--Text representation of the address-->
			<xs:element name="text" type="string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The full text representation of the address
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--Street name, number, direction & P.O. Box etc.-->
			<xs:element name="line" type="string" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="city" type="string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="district" type="string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						District name (aka County)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--Sub-unit of country (abbreviations ok)-CodeableConcept-USPS Two Letter Alphabetic Codes -->
			<xs:element name="state" type="string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="postal_code" type="string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="country" type="string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="period" minOccurs="0" maxOccurs="1" type="period">
				<xs:annotation>
					<xs:documentation>
						Time period when address was/is in use
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geo_locations" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="geo_location" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="latitude" type="decimal" minOccurs="1" maxOccurs="1"/>
									<xs:element name="longitude" type="decimal" minOccurs="1" maxOccurs="1"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="period">
		<xs:sequence>
			<xs:element name="start" type="dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="end" type="dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="telecom">
		<xs:sequence>
			<xs:element name="system" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						use this element to describe the contact point.  https://www.hl7.org/fhir/valueset-contact-point-system.html
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="phone"/>
						<xs:enumeration value="fax"/>
						<xs:enumeration value="email"/>
						<xs:enumeration value="pager"/>
						<xs:enumeration value="url"/>
						<xs:enumeration value="sms"/>
						<xs:enumeration value="other"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!--	The actual contact point details-->
			<xs:element name="value" type="string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The actual value of the contact point
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="use" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						The use of the contact point.  https://www.hl7.org/fhir/valueset-contact-point-use.html
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="home"/>
						<xs:enumeration value="work"/>
						<xs:enumeration value="temp"/>
						<xs:enumeration value="old"/>
						<xs:enumeration value="mobile"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rank" type="positiveInt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Specify preferred order of use (1 = highest)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--Time period when the contact point was/is in use-->
			<xs:element name="period" minOccurs="0" maxOccurs="1" type="period">
				<xs:annotation>
					<xs:documentation>
						Time period when the contact point was/is in use
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contactpoint_available_times" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="contactpoint_available_time" minOccurs="0" maxOccurs="unbounded" type="available_time"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="via_intermediaries" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="via_intermediary" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="name" type="string" minOccurs="1" maxOccurs="1"/>
									<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="system" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>
												The use of the contact point.  http://hl7.org/fhir/R4/valueset-contact-point-system.html
											</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="string">
															<xs:enumeration value="phone"/>
															<xs:enumeration value="fax"/>
															<xs:enumeration value="email"/>
															<xs:enumeration value="pager"/>
															<xs:enumeration value="url"/>
															<xs:enumeration value="sms"/>
															<xs:enumeration value="other"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="value" type="string" minOccurs="1" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>
												The actual value of the contact point
											</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organization">
		<xs:sequence>
			<!--Unique Identifer-->
			<xs:element name="unique_identifier" type="resource_id" minOccurs="1" maxOccurs="1"/>
			<xs:element name="npi" type="NPI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clia" type="string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Clinical Laboratory Improvement Amendments (CLIA) Number for laboratories
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_active" type="boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Whether the organization&apos;s record is still in active use
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="types" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" minOccurs="1" maxOccurs="unbounded" type="type_of_organization">
							<xs:annotation>
								<xs:documentation>
						Organization type, a full list can be found here:  https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/ValueSet-OrgTypeVS.html
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="name" type="string" minOccurs="1" maxOccurs="1"/>
			<!--A list of alternate names that the organization is known as, or was known as in the past-->
			<xs:element name="alias" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<!--Organization Description-->
			<xs:element name="org_description" type="string" minOccurs="0" maxOccurs="1"/>
			<!--The organization of which this organization forms a part-->
			<xs:element name="part_of" minOccurs="0" maxOccurs="1" type="organization_part_of"/>
			<xs:element name="telecoms" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="telecom"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addresses" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" minOccurs="0" maxOccurs="unbounded" type="address"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organization_part_of">
		<xs:sequence>
			<!--Unique Identifer-->
			<xs:element name="unique_identifier" type="resource_id" minOccurs="1" maxOccurs="1"/>
			<xs:element name="npi" type="NPI" minOccurs="0" maxOccurs="1"/>
			<xs:element name="clia" type="string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Clinical Laboratory Improvement Amendments (CLIA) Number for laboratories
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="is_active" type="boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Whether the organization&apos;s record is still in active use
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="types" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="type" minOccurs="1" maxOccurs="unbounded" type="type_of_organization">
							<xs:annotation>
								<xs:documentation>
						Organization type, a full list can be found here:  https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/ValueSet-OrgTypeVS.html
					</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="name" type="string" minOccurs="1" maxOccurs="1"/>
			<!--A list of alternate names that the organization is known as, or was known as in the past-->
			<xs:element name="alias" type="string" minOccurs="0" maxOccurs="unbounded"/>
			<!--Organization Description-->
			<xs:element name="org_description" type="string" minOccurs="0" maxOccurs="1"/>
			<!--The organization of which this organization forms a part-->
			<xs:element name="telecoms" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="telecom"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="addresses" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="address" minOccurs="0" maxOccurs="unbounded" type="address"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="available_time">
		<xs:sequence>
			<xs:element name="all_day" type="boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Available All Day
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="days_of_week" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>
						Days of the week available
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="string">
						<xs:enumeration value="mon"/>
						<xs:enumeration value="tue"/>
						<xs:enumeration value="wed"/>
						<xs:enumeration value="thu"/>
						<xs:enumeration value="fri"/>
						<xs:enumeration value="sat"/>
						<xs:enumeration value="sun"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="available_start_time" type="time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Opening time of day (ignored if AllDay = true)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="available_end_time" type="time" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>
						Closing time of day (ignored if AllDay = true)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Root Element- Payer(Organization) details-->
	<xs:element name="payer">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="1" minOccurs="1" name="schema_version">
					<xs:annotation>
						<xs:documentation>
							This element defines what version of the roster schema you will be validating against (e.g. 1.0)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:decimal">
							<xs:pattern value="([1-9]{1,2})\.([0-9]{1,2})"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="sender_id" type="string">
					<xs:annotation>
						<xs:documentation>
							This element is used to the unique identifier assigned to your organization
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element maxOccurs="1" minOccurs="1" name="date_time_reported">
					<xs:annotation>
						<xs:documentation>
							This element is used to the identify the date time this information was reported (e.g. 2001-10-26T21:32:52+02:00)
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:dateTime">
							<xs:pattern value="([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\.[0-9]+)?(Z|(\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="payer_type" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Organization Type, value is restricted to only &apos;payer&apos;
						</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="string">
							<xs:enumeration value="payer"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<!--Payer ID-->
				<xs:element name="payer_unique_identifier" minOccurs="1" maxOccurs="1" type="resource_id"/>
				<!--National Provider Identifier (NPI)-->
				<xs:element name="npi" type="NPI" minOccurs="0" maxOccurs="1"/>
				<!--Clinical Laboratory Improvement Amendments (CLIA) Number for laboratories-->
				<xs:element name="clia" type="string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Clinical Laboratory Improvement Amendments (CLIA) Number for laboratories
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!--Name used for the organization-->
				<xs:element name="payer_name" type="string" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Name used for the organization
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="payer_alias" type="string" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							A list of alternate names that the organization is known as, or was known as in the past
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<!--Organization Description-->
				<xs:element name="org_description" type="string" minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>
							Organization Description
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="telecoms" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="telecom"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<!--An address for the organization-->
				<xs:element name="addresses" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="address" minOccurs="0" maxOccurs="unbounded" type="address"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="insurance_plan" minOccurs="1" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
										An Insurance Plan is a discrete package of health insurance coverage benefits that are offered under a particular network type.InsurancePlan describes a health insurance offering comprised of a list of covered benefits (i.e. the product), costs associated with those benefits (i.e. the plan), and additional information about the offering, such as who it is owned and administered by, a coverage area, contact information, etc.
									</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plan_id" type="identifier" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
													Business Identifier for Product\Plan
												</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="status" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
													Insurance Plan Status
												</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="string">
										<xs:enumeration value="draft"/>
										<xs:enumeration value="active"/>
										<xs:enumeration value="retired"/>
										<xs:enumeration value="unknown"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="type" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
													Insurance Plan Product Type.  The full list can be found here:  https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/ValueSet-InsuranceProductTypeVS.html
												</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="string">
										<xs:enumeration value="commppo"/>
										<xs:enumeration value="commhdhp"/>
										<xs:enumeration value="commpos"/>
										<xs:enumeration value="commhmo"/>
										<xs:enumeration value="commepo"/>
										<xs:enumeration value="medi"/>
										<xs:enumeration value="medihmo"/>
										<xs:enumeration value="mediadv"/>
										<xs:enumeration value="mediadvhmo"/>
										<xs:enumeration value="media"/>
										<xs:enumeration value="medib"/>
										<xs:enumeration value="medid"/>
										<xs:enumeration value="mediab"/>
										<xs:enumeration value="qhp"/>
										<xs:enumeration value="ihs"/>
										<xs:enumeration value="fep"/>
										<xs:enumeration value="tri"/>
										<xs:enumeration value="va"/>
										<xs:enumeration value="dent"/>
										<xs:enumeration value="denthmo"/>
										<xs:enumeration value="vis"/>
										<xs:enumeration value="vishmo"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="name" type="string" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
													Official name of Plan
												</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="alias" type="string" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
													Alternate names
												</xs:documentation>
								</xs:annotation>
							</xs:element>
							<!--When the product is available-->
							<xs:element name="period" minOccurs="0" maxOccurs="1" type="period"/>
							<!--Product administrator details (Administrative Organization)-->
							<xs:element name="administered_by" minOccurs="1" maxOccurs="1" type="organization"/>
							<!--<xs:element name="coverageArea" type="string" />-->
							<xs:element name="coverage_areas" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="coverage_area" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="status" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																			Status
																		</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="string">
																<xs:enumeration value="active"/>
																<xs:enumeration value="suspended"/>
																<xs:enumeration value="inactive"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="identifiers" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="identifier" type="string" minOccurs="0" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>
																			Unique code or number identifying the location to its users
																		</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="name" type="string" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																			Name of the location as used by humans
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="alias" type="string" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																			A list of alternate names that the location is known as, or was known as, in the past
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="description" type="string" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																			Additional details about the location that could be displayed as further information to identify the location beyond its name
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="type" type="location_role_type" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																			Type of function performed.  A full list can be found here:  https://www.hl7.org/fhir/v3/ServiceDeliveryLocationRoleType/vs.html
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="position" minOccurs="0" maxOccurs="1" type="position"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<!--Contact details for the product-->
							<xs:element name="contacts" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="contact" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="human_name" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																A name associated with the contact
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="purpose" minOccurs="0" maxOccurs="1" type="purpose">
														<xs:annotation>
															<xs:documentation>
																The purpose of this contact.  A full list can be found here:  https://www.hl7.org/fhir/valueset-contactentity-type.html
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="telecoms" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="telecom"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="address" type="address" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="networks" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="network" minOccurs="1" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>
																Network associated with Insurance Plans.  A plan may be associated with multiple networks, and a network may be associated with many plans
															</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="network_id" type="network_id" minOccurs="1" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																			Unique Identifier for this Network
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="name" type="string" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>
																			Name of the Network
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="alias" type="string" minOccurs="0" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>
																			A list of alternate names that the Network is known as, or was known as in the past
																		</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="types" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="type" minOccurs="0" maxOccurs="unbounded" type="type_of_organization">
																	<xs:annotation>
																		<xs:documentation>
																				Organization type, a full list can be found here:   https://build.fhir.org/ig/HL7/davinci-pdex-plan-net/ValueSet-OrgTypeVS.html
																			</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="contacts" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="contact" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="name" type="human_name" minOccurs="0" maxOccurs="1">
																				<xs:annotation>
																					<xs:documentation>
																						A name associated with the contact
																					</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="purpose" minOccurs="0" maxOccurs="1" type="purpose">
																				<xs:annotation>
																					<xs:documentation>
																						The purpose of this contact.  A full list can be found here:  https://www.hl7.org/fhir/valueset-contactentity-type.html
																					</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="telecoms" minOccurs="0" maxOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="telecom"/>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="address" type="address" minOccurs="0" maxOccurs="1"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="location_references" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="location_reference" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="status" minOccurs="1" maxOccurs="1">
																				<xs:annotation>
																					<xs:documentation>
																						Status
																					</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:restriction base="string">
																						<xs:enumeration value="active"/>
																						<xs:enumeration value="suspended"/>
																						<xs:enumeration value="inactive"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="operational_status" minOccurs="0" maxOccurs="1">
																				<xs:annotation>
																					<xs:documentation>
																						The operational status of the location.  A full list can be found here:  https://terminology.hl7.org/1.0.0//ValueSet-v2-0116.html
																					</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:union>
																						<xs:simpleType>
																							<xs:restriction base="string">
																								<xs:enumeration value="C"/>
																								<xs:enumeration value="H"/>
																								<xs:enumeration value="I"/>
																								<xs:enumeration value="K"/>
																								<xs:enumeration value="O"/>
																								<xs:enumeration value="U"/>
																							</xs:restriction>
																						</xs:simpleType>
																						<xs:simpleType>
																							<xs:union memberTypes="xs:string"/>
																						</xs:simpleType>
																					</xs:union>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="identifiers" minOccurs="0" maxOccurs="1">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="identifier" type="string" minOccurs="0" maxOccurs="unbounded">
																							<xs:annotation>
																								<xs:documentation>
																						Unique code or number identifying the location to its users
																					</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="name" type="string" minOccurs="1" maxOccurs="1">
																				<xs:annotation>
																					<xs:documentation>
																						Name of the location as used by humans
																					</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="alias" type="string" minOccurs="0" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>
																						A list of alternate names that the location is known as, or was known as, in the past
																					</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="description" type="string" minOccurs="0" maxOccurs="1">
																				<xs:annotation>
																					<xs:documentation>
																						Additional details about the location that could be displayed as further information to identify the location beyond its name
																					</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="type" type="location_role_type" minOccurs="0" maxOccurs="unbounded">
																				<xs:annotation>
																					<xs:documentation>
																						Type of function performed.  A full list can be found here:  https://www.hl7.org/fhir/v3/ServiceDeliveryLocationRoleType/vs.html
																					</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<!--Physical form of the location-->
																			<xs:element name="physical_type" minOccurs="0" maxOccurs="1">
																				<xs:annotation>
																					<xs:documentation>
																						Physical form of the location.  A full list can be found here:  https://www.hl7.org/fhir/valueset-location-physical-type.html
																					</xs:documentation>
																				</xs:annotation>
																				<xs:simpleType>
																					<xs:union>
																						<xs:simpleType>
																							<xs:restriction base="string">
																								<xs:enumeration value="si"/>
																								<xs:enumeration value="bu"/>
																								<xs:enumeration value="wi"/>
																								<xs:enumeration value="wa"/>
																								<xs:enumeration value="lvl"/>
																								<xs:enumeration value="co"/>
																								<xs:enumeration value="ro"/>
																								<xs:enumeration value="bd"/>
																								<xs:enumeration value="ve"/>
																								<xs:enumeration value="ho"/>
																								<xs:enumeration value="ca"/>
																								<xs:enumeration value="rd"/>
																								<xs:enumeration value="area"/>
																								<xs:enumeration value="jdn"/>
																							</xs:restriction>
																						</xs:simpleType>
																						<xs:simpleType>
																							<xs:union memberTypes="xs:string"/>
																						</xs:simpleType>
																					</xs:union>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="position" minOccurs="0" maxOccurs="1" type="position"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="availability_exceptions" type="string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>